*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
.header-container, 
footer {
    background-color: #1f2937;
}

.main-container{
    display: flex;
    justify-content: center;
    
}

.menu{
    width: 900px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
    align-self: center;
}

.header-link.one {
    margin-left: auto;
    margin-right: 20px;
}

.header-link.last {
    margin-left: 20px;
}

/* hero & footer bg clr #1f2937

   hero main text 48px extra bold clr #f9faf8   
*/

.header-description-container {
    padding: 60px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}

.header-description {
   
    width: 900px;
    display: flex;
    gap: 8px;
}

.description {
    flex: 1;
}

.description .intro-txt {
    font-size: 48px;
    font-weight:bolder;
    color: #f9faf8 ;
}
.descriptive-txt {
    color: #e5e7eb;
    font-size: 18px;
}

.description button  {
    background-color: #3882f6;
    padding: 5px 10px;
    color: #e5e7eb;
    border-radius: 5px;
    margin: 10px 0;
    

}
.img-placeholder {
   border: 1px solid white;
   flex: 1;
   background-color: #8b8b8e;
   line-height:150px;
   text-align: center;

}

/* context in grid like box   */
/*  */

.main-context h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    text-align: center;
    padding: 25px 0; 
}

.subtext-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 80px;
   

}
.subtext-container div {
height: 150px;
width: 200px;
border: 2px solid #3882f6;
border-radius: 10px;

}

/* QUOTE SECTION */
.quote-container {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.quote {
    width: 800px;
}
.quote-txt {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    
}
.quote-by {
     font-size: 18px;
     text-align: end;
}

/*  sign up container */
.signup-container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
 .signup {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
} 

.signup-para .txt-bold {
    font-weight: bold;
    font-size: 15px;
}

.signup button {
    border: 1px solid #f9faf8;
    border-radius: 5px;
    background-color: #3882f6;
    padding: 5px 10px;
    color: #f9faf8;
}

/* Footer */
 .ftr-txt {
    color: #f9faf8;
    text-align: center;
    padding: 15px 0;
    
 }